@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

[x-cloak] {
    display: none !important;
}

@theme {
    --font-montserrat: Montserrat, sans-serif;
    --color-primary: oklch(0.2221 0 0);
    --color-secondary: oklch(1 0 0);
    --color-grey: oklch(0.4712 0 0);
}

@layer components {
    body {
        @apply font-montserrat;
    }

    li {
        @apply list-none;
    }

    button {
        @apply cursor-pointer;
    }

    .icon {
        @apply size-full;
    }

    .pill {
        @apply rounded-[33px];
    }
}
